body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f3f3f3;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: white;
  margin: 10px auto;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
